<!DOCTYPE html>
<html lang="en" ng-app="openradiation">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->
        <link rel="shortcut icon" href="images/openrad.png">

        <title>Test measure</title>

        <!-- Bootstrap core CSS -->
        <link href="bootstrap-3.3.4.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="openradiation.js"></script>
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    </head>

    <body>
        <div class="container" ng-controller="openradiation_form">
            <div class="container-fluid">
                <div class="row">
                    <br/>
                </div>
                <div class="well">
                    <span>Rentrer une mesure manuelle</span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form name="formulaire" class="form-inline" action="/measurements" method="post" role="form">
                            <div class="row">
                                <div class="col-sm-6"><span>ApparatusSensorType :</span></div>
                                <div class="col-sm-6"><input name="ApparatusSensorType" ng-model="form.ApparatusSensorType" type="text" class="form-control" placeholder="ApparatusSensorType"></input></div>
                                <div class="col-sm-6"><span>ApparatusTubeType :</span></div>
                                <div class="col-sm-6"><input name="ApparatusTubeType" ng-model="form.ApparatusTubeType" type="text" class="form-control" placeholder="ApparatusTubeType"></input></div>
                                <div class="col-sm-6"><span>Value :</span></div>
                                <div class="col-sm-6"><input name="Value" type="number" ng-model="form.Value" class="form-control" placeholder="Value"></input></div>
                                <div class="col-sm-6"><span>HitsNumber :</span></div>
                                <div class="col-sm-6"><input name="HitsNumber" type="number" ng-model="form.HitsNumber" class="form-control" placeholder="HitsNumber"></input></div>
                                <div class="col-sm-6"><span>StartTime  (sample :2015-04-19T13:49:59):</span></div>
                                <div class="col-sm-6"><input name="StartTime" type="datetime-local" ng-model="form.StartTime" class="form-control" placeholder="StartTime"></input></div>
                                <div class="col-sm-6"><span>Latitude :</span></div>
                                <div class="col-sm-6"><input name="Latitude" type="number" ng-model="form.Latitude" class="form-control" placeholder="Latitude"></input></div>
                                <div class="col-sm-6"><span>Longitude :</span></div>
                                <div class="col-sm-6"><input name="Longitude" type="number" ng-model="form.Longitude" class="form-control" placeholder="Longitude"></input></div>
                                <div class="col-sm-6"><span>ReportUUID :</span></div>
                                <div class="col-sm-6"><input name="ReportUUID" type="text" ng-model="form.ReportUUID" class="form-control" placeholder="ReportUUID"></input></div>
                                <div class="col-sm-1"><span>Tags :</span></div>
                                <div class="col-sm-5"><span class="btn btn-link" ng-click="addTag()"><span class="badge badge-info">+</span> Add a tag</span></div>
                                <!--<pre>{{form.Tags}}</pre>-->
                                <div ng-repeat="tag in form.Tags">
                                    <div class="col-sm-6"><br/></div>
                                    <div class="col-sm-3"><input name="Tags" type="text" ng-model="tag.value" class="form-control" placeholder="Tags"></input></div>
                                    <div class="col-sm-2"><span class="btn btn-link" ng-click="deleteTag(tag)"><span class="badge badge-info">-</span> Delete</span></div>
                                </div>
                                
                                
                                <div class="col-sm-12"><div class="btn btn-large btn-primary" ng-click="submitapi()">Go</div></div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-2"><div class="btn btn-large btn-primary" ng-click="putUsers()">Put users</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-2"><div class="btn btn-large btn-primary" ng-click="postQualification()">Post qualification</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="bootstrap-3.3.4.min.js"></script>
    </body>
</html>
